button {
    background-color:  #ff8000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    font-size: 16px;
    
    }
    input,select {
    
    padding: 12px 20px;
    
    
    font-size: 2vw;
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
         -webkit-text-stroke: 1px black;
  
    }
    label{
    font-size: 2vw;
    }
    #IL{
       
     margin-top: 5%;
        width: 30%;
        height: 80%;
        margin-left: 5%;
        display: inline-block;
        
          
}
    #header {
        width: 45%;
        height: 80%;
        margin-left: 5%;
        margin-bottom: 60%;
    padding: 10px;
    text-align: center;
    background: #cc6600;
    color: white;
    font-size: 30px;
    display: inline-block;
    }
    
    table{
        margin-top: 2%;
        width: 100%;
    }
    thead{
  background-color: #4d2600; /* Green */
    color: white;
    font-size: 20px;
    }
     #nom{
        font-size: 16px;
        width: 40%;
    }
     #nm{
        font-size: 16px;
        width: 10%;
    }
     
   